<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <%= render 'shared/breadcrumb_navigation' %>
  <!-- Search Form -->
  <div class="bg-white shadow-md rounded p-6 mb-6">
    <%= form_with url: admin_school_term_courses_path(@school, @term), method: :get, local: true, class: "flex items-center space-x-4" do |form| %>
      <div class="flex items-center space-x-4 flex-1">
        <%= form.label :title_filter, "Course Title", class: "text-sm font-medium text-gray-700" %>
        <%= form.text_field :title_filter, value: params[:title_filter], class: "flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
      </div>
      <div class="flex items-center space-x-2">
        <%= form.submit "Search", class: "text-white px-4 py-2 rounded-md text-sm font-medium bg-emerald-600 hover:bg-emerald-700 transition-colors duration-200 mr-2" %>
        <%= link_to 'New Course', new_admin_school_term_course_path(@school, @term), class: 'text-white px-4 py-2 rounded-md text-sm font-medium bg-slate-600 hover:bg-slate-700 transition-colors duration-200' %>
      </div>
    <% end %>
  </div>

  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @courses.each do |course| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= link_to course.title, admin_school_term_course_path(@school, @term, course), class: 'text-blue-600 hover:text-blue-900' %></div>
            </td>
            <td class="px-6 py-4">
              <div class="text-sm text-gray-900"><%= truncate(course.description, length: 50) %></div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <div class="flex space-x-3">
                <%= link_to 'Edit', edit_admin_school_term_course_path(@school, @term, course), class: 'text-yellow-600 hover:text-yellow-900' %>
                <%= link_to 'Delete', admin_school_term_course_path(@school, @term, course), 
                    method: :delete, 
                    class: 'text-red-600 hover:text-red-900', 
                    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> 